.evenRow {
  background-color: white;
}

.oddRow {
  background-color: #4791db42;
}

.MuiDataGrid-toolbarContainer {
  background-color: #4791db42;
}

@media print {
  .MuiDataGrid-toolbarContainer,
  .MuiDataGrid-footerContainer {
    display: none !important;
  }
}